[Unit]
Description=homemon SNMP collection
After=redis.service mosquitto.service
Requires=redis.service mosquitto.service

[Service]
ExecStart=/home/steve/node/homemon/homemon-snmp.sh
Type=simple
User=steve
Restart=always

[Install]
WantedBy=multi-user.target
