[Unit]
Description=homemon stats daemon
After=redis.service mosquitto.service
Requires=redis.service mosquitto.service

[Service]
ExecStart=/home/steve/node/homemon/homemon-stats.sh
WorkingDirectory=/home/steve/node/homemon
Environment=NODE_ENV=production
Type=simple
User=steve
Restart=always

[Install]
WantedBy=multi-user.target
