div.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle(type='button',data-toggle="collapse",data-target=".navbar-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") HomeMon3
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li(class=(title === 'Sensors' ? 'active' : ''))
                    a(href="sensors") Sensors
                li(class=(title === 'Power' ? 'active' : ''))
                    a(href="power") Power
                li(class=(title === 'Power Bar' ? 'active' : ''))
                    a(href="powerbar") Power Bar
                li(class=(title === 'SNMP' ? 'active' : ''))
                    a(href="snmp") SNMP
                li.divider-vertical
                li(class=(title === 'Push Messages' ? 'active' : ''))
                    a(href="pushmessage") Push Messages
                li.divider-vertical
                li(class=(title === 'MQTT' ? 'active' : ''))
                    a(href="mqtt") MQTT
                li(class=(title === 'MQTT Stats' ? 'active' : ''))
                    a(href="mqttstats") MQTT Stats
                li(class=(title === 'Redis Stats' ? 'active' : ''))
                    a(href="redisstats") Redis Stats