extends layout

block append head
	script(type='text/javascript', src='https://www.google.com/jsapi')


block content
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/powerbar.js")
	
	

	div.container
		div.row
			div.span12.well
				#powerbar
		div.row
			div.span6
				#time
			div.span6.text-right
				#updates