extends layout

block content
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/sensors2.js")
	
	
	div.container
		div.row.well
			div.col-md-12
				h4.text-center Sensors
				| <table id="myTable" class="table table-striped table-condensed table-bordered sortable-theme-bootstrap" data-sortable>
				| <thead><tr>
				|	<th style="14%; text-align: Left">Topic</th>
				|	<th style="14%; text-align: center">Temperature</th>
				|	<th style="14%; text-align: center">Pressure</th>
				|	<th style="14%; text-align: center">Humidity</th>
				|	<th style="14%; text-align: center">CO2</th>
				| </tr></thead>
				| <tbody></tbody>
				| </table>
				

		div.row
			div.col-md-6
				#time
			div.col-md-6.text-right
				#updates
				
				
				
		