extends layout

block content
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/snmp.js")
	
	
	div.container
		div.row
			div.col-md-12.well
				#tables

		div.row
			div.col-md-6
				#time
			div.col-md-6.text-right
				#updates