div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="/")
                | HomeMon2
            div.nav-collapse.collapse
                ul.nav
                    li
                        a(href="sensors") Sensors
                    li
                        a(href="page2") Page 2
                    li
                        a(href="powercharts") Power Charts
                    li
                        a(href="mqtt") MQTT
                    li
                        a(href="mqttstats") MQTT Stats
                    li
                        a(href="redisstats") Redis Stats