div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="/")
                | HomeMon2
            div.nav-collapse.collapse
                ul.nav
                    li(class=(title === 'Sensors' ? 'active' : ''))
                        a(href="sensors") Sensors
                    li(class=(title === 'Power Bar' ? 'active' : ''))
                        a(href="powerbar") Power Bar
                    li(class=(title === 'Chart 1' ? 'active' : ''))
                        a(href="powercharts") Chart 1
                    li(class=(title === 'Chart 2' ? 'active' : ''))
                        a(href="powercharts2") Chart 2
                    li(class=(title === 'Chart X' ? 'active' : ''))
                        a(href="powercharts-power0") Chart X
                    li(class=(title === 'MQTT' ? 'active' : ''))
                        a(href="mqtt") MQTT
                    li(class=(title === 'MQTT Stats' ? 'active' : ''))
                        a(href="mqttstats") MQTT Stats
                    li(class=(title === 'Redis Stats' ? 'active' : ''))
                        a(href="redisstats") Redis Stats