!!!
html
	head
		block head
			block title
				title HomeMon2 - #{title}
			link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
			| <style>
			| body { padding-top: 60px; }
			| </style>
			script(src='https://code.jquery.com/jquery.js')
			script(src='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
	body
		include header

		block content

		include footer