extends layout

block content
	script(src="/javascripts/jquery-2.0.2.min.js")
	script(src='javascripts/bootstrap/js/bootstrap.min.js')
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/mqttstats.js")
	
	
	
	div.container
		h1 Mosquitto Stats
		div.row
			div.span6.well
				| <table id="messagetable" class="table table-striped table-condensed table-bordered">
				| <tr><th>Topic</th><th style="text-align: right">Value</th></tr>
				| </table>
		div.row
			div.span3
				#time
			div.span3.text-right
				#updates