extends layout


block append head
	script(type='text/javascript', src='http://www.google.com/jsapi')

block content
	script(src="/javascripts/jquery-2.0.2.min.js")
	script(src='/javascripts/bootstrap/js/bootstrap.min.js')
	script(src="/javascripts/powercharts2.js")
	

	
	
	div.container
		| <div class="item"><div id="chart_div_all"></div>
