extends layout


block append head
	script(type='text/javascript', src='http://www.google.com/jsapi')

block content
	script(src="/javascripts/jquery-2.0.2.min.js")
	script(src='/javascripts/bootstrap/js/bootstrap.min.js')
	script(src="/javascripts/powerchart-power0.js")
	

	
	div.container
		div.row
			div.span1
			div.span10.well
				| <div id="chart_div"></div>
			div.span1