extends layout

block content
	script(src="/socket.io/socket.io.js")
	| <script>var myPath = !{JSON.stringify(myPath)};</script>
	script(src="/javascripts/pushmessage.js")
	
	
	
	div.container
		div.row
			div.col-md-9.well
				| <table id="messagetable" class="table table-striped table-condensed table-bordered">
				| </table>
		div.row
			div.col-md-6
				#time
			div.col-md-3.text-right
				#updates