extends layout

block content
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/sensors.js")
	
	
	div.container
		div.row.well
			div.col-md-4
				| <H3 class="text-center text-warning"><span id="sensors/power/0"> </span>W now</h3>
			div.col-md-4
				| <H3 class="text-center"><span id="cumulative/hour/sensors/power/0"></span> KWh hourly</H3>
			div.col-md-4
				| <H3 class="text-center"><span id="cumulative/daily/sensors/power/0"></span> KWh today</H3>
		div.row.well
			div.col-md-2
				h4.text-center Power
				| <table id="myTablePower" class="table table-striped table-condensed table-bordered">
				| <tr><th>Topic</th><th style="text-align: right">Value</th></tr>
				| <tr><td id="sensors/power/Uname" style="text-align: left; width: 75%;">Unknown</td><td id="sensors/power/U" style="text-align: right; width: 25%;">0</td></tr>
				| </table>				
			div.col-md-2
				h4.text-center Temperature
				| <table id="myTableTemp" class="table table-striped table-condensed table-bordered">
				| <tr><th>Topic</th><th style="text-align: right">Value</th></tr>
				| </table>
							
			div.col-md-2
				h4.text-center Pressure
				| <table id="myTablePressure" class="table table-striped table-condensed table-bordered">
				| <tr><th>Topic</th><th style="text-align: right">Value</th></tr>
				| </table>

			div.col-md-2
				h4.text-center Humidity
				| <table id="myTableHumidity" class="table table-striped table-condensed table-bordered">
				| <tr><th>Topic</th><th style="text-align: right">Value</th></tr>
				| </table>
				
			div.col-md-4
				h4.text-center NO2
				| <table id="myTableNO2" class="table table-striped table-condensed table-bordered">
				| <tr><th>Topic</th><th style="text-align: right">Value</th></tr>
				| </table>
				h4.text-center CO
				| <table id="myTableCO" class="table table-striped table-condensed table-bordered">
				| <tr><th>Topic</th><th style="text-align: right">Value</th></tr>
				| </table>

		div.row
			div.col-md-6
				#time
			div.col-md-6.text-right
				#updates
				
				
				
		